<!DOCTYPE html>
<html>
  <head>
    <title>TechUni</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
      </ul>
      <nav> 
        <div class="container">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><%= link_to 'Home', root_path%></li>
              <li><%= link_to 'About', about_path%></li>
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">TechUni</h5>
            <p class="grey-text text-lighten-4">The Future of Development Training</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Information</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2018 TechUni
        <a class="grey-text text-lighten-4 right" href="#!">About</a>
        </div>
      </div>
    </footer>
  </body>
</html>
